<a href="https://colab.research.google.com/github/KimDonghyun17/HW/blob/master/%EC%97%B4%EC%9C%A0%EC%B2%B4%EA%B3%B5%ED%95%99%EC%8B%A4%ED%97%98_2017034348_HW04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Python

In [0]:
dan=int(input('dan : '))

def table_1(x):
  for n in range(1,10):
    print(dan,"*",n,"=",dan * n)
    
print(table_1(dan))

In [0]:
%timeit table_1(dan)

In [0]:
# Numpy

In [0]:
import numpy as np
dan=int(input('dan : '))

a = np.full((9,1),dan)
b = (np.arange(1,10).reshape(9,1))

print(np.hstack([a,b,a * b]))

In [0]:
%timeit np.hstack([a,b,a * b])

In [0]:
# Numba

In [0]:
import numba
print(numba.__version__)

import numpy as np
dan=int(input('dan : '))

@numba.jit("int32(int32)")
def table_2(x):
  for n in range(1,10):
    print(dan,"*",n,"=",dan * n)
    
print(table_2(dan))

In [0]:
%timeit table_2(dan)

In [0]:
# Cuda

In [0]:
!find / -iname 'libdevice'
!find / -iname 'libnvvm.so'

import os
os.environ['NUMBAPRO_LIBDEVICE'] = "/usr/local/cuda-10.0/nvvm/libdevice"
os.environ['NUMBAPRO_NVVM'] = "/usr/local/cuda-10.0/nvvm/lib64/libnvvm.so"

dan=int(input('dan = '))


import numpy as np
from numba import vectorize

a = np.full((9,1),dan)
b = (np.arange(1,10).reshape(9,1))

@vectorize(['int64(int64, int64)'], target='cuda')
def table_3(x, y):
  return x * y

print(np.hstack([a,b,table_3(a, b)]))

In [0]:
%timeit table_3(a, b)